.box{
    width: 100%;
    height: 1000px;
    background-color: green;
    background-image: url(../img/lamp-png-34914.png), url(../img/grass.png), url(../img/hedgehog.png), url(../img/ponchik.png), url(../img/house.png);
    background-position: top, bottom, left, right, center;
    background-size: 100px, 400px, 150px, 150px, auto;
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y, no-repeat;
}